<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header.ejs") %>
    <h1>Edit <%= restaurant.name %></h1>
    <form action="/restaurants/<%= restaurant.id %>?_method=PUT" method="POST">
        <div class="form-container">
        <div class="form">
            <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="<%= restaurant.name %>"/>

        <label for="address">Address: </label>
        <input type="text" name="address" id="address" value="<%= restaurant.address %>"/>

        <label for="hours">Operation Hours: </label>
        <input type="text" name="hours" id="hours" value="<%= restaurant.hours %>"/>
        </div>
        
        <div class="form">
            <label for="price">Price Range: </label>
        <input type="text" name="price" id="price" value="<%= restaurant.price %>"/>

        <label for="cuisine">Cuisine: </label>
        <input type="text" name="cuisine" id="cuisine" value="<%= restaurant.cuisine %>"/>

        <label for="rating">Rating: </label>
        <input type="text" name="rating" id="rating" value="<%= restaurant.rating %>"/>
        </div>
        
        <div class="form">
            <label for="img">Image URL: </label>
        <input type="text" name="img" id="img" value="<%= restaurant.img %>"/>

        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value="<%= restaurant.description %>"/>
        </div>
        </div>
        <h1></h1>
        <input type="submit" value="Edit Restaurant!" class="btn"/>
    </form>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>