<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header.ejs") %>
    <h1><%= restaurant.name %></h1>
    <div>
        <div class="show-child"><h3><%= restaurant.cuisine %> | </h3></div>
        <div class="show-child"><h3><%= restaurant.price %> | </h3></div>
        <div class="show-child"><h3>☆: <%= restaurant.rating %></h3></div>
    </div>
    <img src="<%= restaurant.img %>" alt="image">
    <h3><%= restaurant.description %></h3>
    <h3><%= restaurant.address %></h3>
    <h3><%= restaurant.hours %></h3>
    <% if (restaurant.parking == false) { %>
        <h3>Parking: no</h3>
    <% } else { %>
        <h3>Parking: yes</h3>
    <% } %>
    <div class="btn-format">
        <button class="btn"><a href="/restaurants/<%= restaurant.id %>/edit" type="button">Edit</a></button>
        <h2></h2>
        <form action="/restaurants/<%= restaurant.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" id="button" class="btn delete-btn"/>
        </form>
    </div>  
    <h2></h2>
    <hr>
    <h2>Comments</h2>
    <div>
        <form action="restaurants/<%= restaurant.id %>/comments>" method="POST"></form>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <h2></h2>
        <input type="submit" value="Add Comment" class="btn"/>
    </form>
    <% restaurant.comments.forEach(function(r) { %>
        <%= r.description %>
        <%= r.rating %>
    <% }) %>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>